<!DOCTYPE html>
<html lang="en"> <!--แสดงผลภาษาอันนี้เป็นภาษาอังกฤษ-->
<head>
  <meta charset="UTF-8"> <!--เซฟคาแรกเตอร์อันนี้เป็นUTF-8-->
  <title>CMM 19</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/images/home.css"> <!--การที่เราโหลด css มาใช้ในhtml-->
</head>
<body>
  <header>
    <div class="has-text-centered">  <!--เป็นการตั้งตำแหน่งซขก-->
      <img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!--เป็นการแทรกรูปภาพและกำหนดขนาดของรูปภาพเป็นพิกเซล-->
    </div>
    <nav class="navbar-tabs">
      <a href="#" class="navbar-item">cloth</a>
      <a href="#" class="navbar-item">short</a>
      <a href="#" class="navbar-item">dress</a>
      <a href="#" class="navbar-item">skirt</a>
      <a href="#" class="navbar-item">shoe</a>
      <a href="#" class="navbar-item">glassess</a>
      <a href="#" class="navbar-item">ring</a>
      <a href="#" class="navbar-item">earing</a>
    </nav>
  </header>

  <main>
    <section class="banner">
      <div class="highlight">
        <div class="columns">
          <div class="column highlight-item">
            <h1> HELLO </h1>
          </div>
        </div>
      </div>

      <div class="thumbnail">
        <div class="columns is-marginless">
          <a href="#" class="column thumbnail-item" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
            <h4 class="title is-size-5 has-text-weight-light has-text-centered">
              อย่าเพิ่งคิดมากไปปปปปป
            </h4>
          </a>

          <a href="#" class="column thumbnail-item" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
            <h4 class="title is-size-5 has-text-weight-light has-text-centered">
              อย่าเพิ่งไปคิดมากกกกกกกกกกก
            </h4>
          </a>

          <a href="#" class="column thumbnail-item" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
            <h4 class="title is-size-5 has-text-weight-light has-text-centered">
              อย่าไปคิดวุ่นวายยยยยยยยยยยย
            </h4>
          </a>

          <a href="#" class="column thumbnail-item" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
            <h4 class="title is-size-5 has-text-weight-light has-text-centered">
              โกอิ่งด้าวววว สโลวววิทด้าววววว
            </h4>
          </a>

          </div>
      </div>
    </section>
    <section class="section we-present">
      <div class="container">
        <div class="columns">
          <div class="column has-text-left">
            <a href="#">LASTET</a>
          </div>
          <div class="column has-text-centered">
            <a href="#">WE PRESET</a>
          </div>
          <div class="column has-text-right">
            <a href="#">SEARCH</a>
          </div>
        </div>

        <div class="columns is-multiline">
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkk
                  sdfkofksdjlg;g
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-2.jpg" alt="image-2">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkkl.agf
                  agdhighslgjekwekljscnxefriehwl
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-3.jpg" alt="image-3">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkkl.agfk
                  agdhighslgjekwekljscnxefriehwl
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-4.jpg" alt="image-4">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkk
                  sdfkofksdjlg;g
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-5.jpg" alt="image-5">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkkl.agf
                  agdhighslgjekwekljscnxefriehwl
                </p>
              </div>
            </div>
          </a>

          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="assets/images/home/we-preset/img-6.jpg" alt="image-6">
                </figure>
              </div>
              <div class="card-content">
                <h5 class="category">Public Space</h5>
                <h3 class="title is-spaced is-4">
                  123123123123123
                </h3>
                <h4 class="subtitle is-6">
                  55556666
                </h4>
                <p>
                  77ojeriutpogkkl.77ojeriutpogkkl.agfk
                  agdhighslgjekwekljscnxefriehwl
                </p>
              </div>
            </div>
          </a>


        </div>
      </div>
    </section>
  </main>
</body>
</html>
